[submodule "submodules/wshihadeh/docker-registry"]
	path = submodules/wshihadeh/docker-registry
	url = git@github.com:homeserversample/docker-registry.git
[submodule "submodules/linuxserver/docker-plex"]
	path = submodules/linuxserver/docker-plex
	url = git@github.com:homeserversample/docker-plex.git
[submodule "submodules/linuxserver/docker-nextcloud"]
	path = submodules/linuxserver/docker-nextcloud
	url = git@github.com:homeserversample/docker-nextcloud.git
[submodule "submodules/hss/lyrionmusicserver"]
	path = submodules/hss/lyrionmusicserver
	url = git@github.com:homeserversample/lyrionmusicserver.git
